body{
    background-color: rgb(221, 219, 219);
    margin: 50px;
}
header{
    background-color: rgb(241, 241, 240);
}
nav {
    float: Right;
    padding-right: 15%;   
}

main {
    background-color: white;
    margin: 6%;
    padding-right: 20%;

}

section{
    padding: 5%;
}

image{
    
}
h1{
    background-color: teal;
    margin-right: 80%;
    text-align: center;
    
}

aside {

}

footer{
    border-bottom: solid 70px rgb(70, 64, 64);

}

.about-me{

}

.profile-name{

}
 

