body{
    border: gray solid 3.5vw;
    background: url("./Image/background.JPG");
    
}
header{
    background-color: white;
    padding: .5%;
}
nav {
    float: Right;
    margin-top: -4%;
}

main {
    background-color: white;
    margin-top: 6%;
    margin-right: 37%;
    margin-left: 6%;
    margin-bottom: 4%;
}

section{
    padding: 5%;
    
}

img{
    border-radius: 25%;
    float: left;
    padding: 4%;
    width: 55%;
}
h1{
    background-color: teal;
    margin-right: 77%;
    margin-left: 3%;
    text-align: center;
    color: ivory;
}
h2 {
    margin-left: 5%;
    margin-right: 60%;
    color: teal;
    font-size: 275%;
    text-align: center;
    padding-top: 3%;
}
    
p{

}

aside {

}

footer{
    border-bottom: solid 70px rgb(70, 64, 64);

}

.about-me{

}

.profile-name{

}
 

