body{
    border: whitesmoke solid 3.5vw;
    background: url("../Image/background.JPG");
}
ul {
    padding-right: 5%;
}
main {
    background-color: white;
    margin: 6% 37% 4% 6%;
    padding: 4%;
}
h1 {
    background-color: teal;
    margin-left: 5%;
    text-align: center;
    color: ivory;
    padding: 1%;
}

h2 {
    color: teal;
    font-size: 275%;
    border-bottom: solid 1px;
    padding-bottom: 4%;
}

form {
    padding-right: 15%;
    line-height: 150%;
}

footer {
    background-color: rgb(78, 76, 76);
    padding: 3%;
    margin: auto 0%;
    border-top: solid teal 1vw;
}