body{
    border: whitesmoke solid 3.5vw;
    background: url("../Image/background.JPG");
    
}
header{
    background-color:white;
    
}
nav {
    float: Right;
    margin-top: -4%;
    margin-right: 5%;
}

main {
    background-color: white;
    margin: 6% 37% 4% 6%;
    
}

section{
    
}

img{
    border-radius: 25%;
    float: left;
    padding: 4%;
    width: 50%;
}
h1{
    background-color: teal;
    margin: 0% 70% 0% 6%;
    text-align: center;
    color: ivory;
    padding: 1%;
    
}
h2 {
    margin: 5%;
    color: teal;
    font-size: 275%;
    padding-top: 3%;
    border-bottom: teal solid;
}
    
p{
    margin: 5%;

}

aside {

}

footer{
    text-align: center;
}
 footer p {
     background-color: rgb(78, 76, 76);
     padding: 3%;
     margin: auto 0%;
     border-top: solid teal 1vw;

 }

.about-me{

}

.profile-name{

}
 

