body{
    border: gray solid 3.5vw;
    background: url("./Image/background.JPG");
    
}
header{
    background-color: black;
    
}
nav {
    float: Right;
    margin-top: -4%;
    margin-right: 5%;
}

main {
    background-color: white;
    margin: 6% 37% 4% 6%;
    
}

section{
    padding: 5%;
    border-top: teal solid;
    
    
}

img{
    border-radius: 25%;
    float: left;
    padding: 4%;
    width: 50%;
}
h1{
    background-color: teal;
    margin: 0% 70% 0% 6%;
    text-align: center;
    color: ivory;
    padding: 1%;
    
}
h2 {
    margin-left: 5%;
    margin-right: 60%;
    color: teal;
    font-size: 275%;
    text-align: center;
    padding-top: 3%;
}
    
p{

}

aside {

}

footer{
    border-bottom: solid 70px rgb(70, 64, 64);
    border-top: solid teal 1vw;

}

.about-me{

}

.profile-name{

}
 

