body{
    border: whitesmoke solid 3.5vw;
    background: url("../Image/background.JPG");
    
}

main {
    background-color: white;
    margin: 6% 37% 4% 6%;
    padding: 3%;
}

img{
    border-radius: 25%;
    float: left;
    padding: 4%;
    width: 50%;
}
h1 {
    background-color: teal;
    margin-left: 5%;
    text-align: center;
    color: ivory;
    padding: 1%;
}

h2 {
    color: teal;
    font-size: 275%;
    border-bottom: solid 1px;
    padding-bottom: 4% ;
}
    
p{
    margin: 5%;
}

ul {
    padding-right: 5%;
}

footer{
    text-align: center;
}
 footer p {
     background-color: rgb(78, 76, 76);
     padding: 2%;
     margin: auto 0%;
     border-top: solid teal 1vw;
}
